*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0d1117;
color:white;
font-family:sans-serif;
}

.hero{
text-align:center;
padding:80px 20px;
}

.avatar{
width:140px;
height:140px;
border-radius:50%;
object-fit:cover;
margin-bottom:20px;
}

h1{
font-size:48px;
margin-bottom:10px;
}

.about,
.skills,
.portfolio{
max-width:1200px;
margin:auto;
padding:60px 20px;
}

h2{
margin-bottom:30px;
}

.skill-list{
display:flex;
flex-wrap:wrap;
gap:12px;
}

.skill-list span{
background:#161b22;
padding:10px 18px;
border-radius:20px;
}

.filter{
margin-bottom:30px;
}

.filter button{
background:#161b22;
color:white;
border:none;
padding:10px 16px;
margin-right:10px;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));
gap:24px;
}

.card{
background:#161b22;
text-decoration:none;
color:white;
overflow:hidden;
border-radius:12px;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card img{
width:100%;
display:block;
}

.card h3{
padding:15px;
}

footer{
text-align:center;
padding:50px;
}